@import url(./fonts.css);
@import url(./fontello.css);
/* 기본글꼴 - 웹폰트 */
html, body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
html {
  font-size: 10px; /*rem단위 계산을 위해 */
}
body {
  font-size: 1.4rem;
  color: #000;
  /* background-color: #ccc; */
  background: url(./images/bg_flower.png) no-repeat 50% 0, 
  linear-gradient(to bottom, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
  background-color: #ccc;
}
/* 숨김 콘텐츠 */
.a11y-hidden {
  background-color: red;
  /* display: none; DOM에 안 보일 뿐, 적절한 예시는 아니다 */
  position: absolute;
  /* top: -9999px; 좌표가 위로 올라가기 때문에, 안 좋은 사례 */
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px); /*for legacy browsers*/
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}
/* 박스 사이징 재정의 */
/* padding, border가 포함되어 계산 */
body *, body *::before, body *::after {
  box-sizing: border-box;
}
/* 건너뛰기 링크 */
.skip-nav {
  background-color: #000;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.skip-nav a {
  display: inline-block;
  padding: 10px;
  position: absolute;
}
.skip-nav a:focus {
  outline-offset: -4px;
  position: static;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: #fff;
  position: relative;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  /* height: 10vh; */
}
/* 로고 */
.logo {
  margin: 0;
  font-size: 1em;
  position: absolute;
  top: 43px;
  left: 60px;
}
.logo a {
  display: block;
}
.logo img {
  vertical-align: top;
}

/* 멤버 서비스 링크 */
.member-service {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  text-align: right;
  transform: translateX(10px);
}
.member-service li {
  display: inline-block;
  padding: 4px 0;
  text-transform: uppercase;
}
/* li, a에 padding 나눠서 여백처리 : 포커스 링이 잘리지 않는다 */
.member-service a {
  display: inline-block;
  padding: 6px 10px;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 35px;
}
.menu {
  cursor: pointer;
  border-top: 2px solid #000;
  height: 47px;
  margin: 0;
  padding-left: 230px;
  list-style: none;
  background: #ff6026 linear-gradient(to bottom, #ffa75b 0%,#ff6026 30%,#ff6026 70%,#ffa75b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 0 0 5px 5px;
}
.menu-item {
  position: relative;
  float: left;
  border-left: 2px solid #fff;
}

.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  background: #000;
  height: 2px;
}

.menu-button {
  background: transparent;
  border: 0;
  padding: 0 23px;
  line-height: 45px;
  font-weight: 700;
  color:#fff;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}

.is-active .sub-menu {
  display: block;
}
.sub-menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
  position: absolute;
  display: none;
  white-space: nowrap; /* 줄바꿈 금지*/
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a {
  display: inline-block;
  padding: 6px 10px;
}

.sub-menu a::before {
  content: "\f192";
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
}

.sub-menu a:focus {
  outline: none;
}

.sub-menu a:hover, .sub-menu a:focus {
  color: #f00;
}

.sub-menu a:hover::before, .sub-menu a:focus::before {
  content: "\e800";
}

.menu-html, .menu-css, .menu-standards {
  left: 0;
} 
.menu-accessibility, .menu-qna, .menu-archive {
  right: 0;
}
/* auto */
/* shift + alt+ 화살표아랫방향 : 소스 복제 */
/* alt + 위아래 : 해당 소스 위치 변경 */
/* ctrl + shift + K : 해당 커서에서 소스 삭제 */
/* 바쥬얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px,75px);
  }
}

@keyframes fadeEffect {
  0%{opacity: 1;}
  100%{opacity: 0;}
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before, .visual::after {
  content: ""; /* before, afert : content는 항상 있어야 함. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeEffect 2000ms infinite alternate;
}

.visual::before {
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px, 
  url(./images/ani_flower_02.png) no-repeat 600px 0;
}
.visual::after {
  background: url(./images/ani_flower_03.png) no-repeat 300px 0px, 
  url(./images/ani_flower_04.png) no-repeat 800px 10px;
  animation-delay: 1000ms;
}

.visual-text {
  position: relative;
  z-index: 10;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: moveEffect;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  display: inline-block;
}

/* 헤더 */
/* flex를 활용한 메인 콘텐츠 배치 */
/* .main {
  background-color: blue;
  height: 60vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  padding: 30px;
} */

/* float을 이용한 메인콘텐츠 배치 */
.main {
  display: flow-root;
  min-height: 450px;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}
.clearfix::after {
  content: "";
  background-color: red;
  clear: both;
  display: block;
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  background-color: pink;
  width: 250px;
  float: right;
}
.group2 {
  background-color: lime;
  width: 380px;
}
.group3 {
  background-color: salmon;
  width: 190px;
}

/* .clearfix {
  clear: both;
} */
/* 헤더 */
.slogan {
  background-color: aqua;
  height: 10vh;
}

.footer{
  background-color: purple;
  height: 10vh;
}